In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MetroCard_History_2020-2021.csv')

In [3]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain 30 Day Unlimited,AirTrain 10-Trip,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited
0,07/31/2021,08/06/2021,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,0,0,0,327.0,0.0,0.0,0.0,695.0,253.0,242.0
1,07/31/2021,08/06/2021,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,0,0,0,70.0,0.0,0.0,0.0,105.0,39.0,37.0
2,07/31/2021,08/06/2021,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,0,0,0,301.0,0.0,0.0,0.0,205.0,87.0,53.0
3,07/31/2021,08/06/2021,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,0,0,0,111.0,0.0,0.0,0.0,265.0,60.0,131.0
4,07/31/2021,08/06/2021,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,0,0,0,148.0,0.0,0.0,0.0,255.0,95.0,99.0

In [4]:
df.describe()

,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,30 Day Unlimited,14 Day Reduced Fare Media Unlimited,1 Day Unlimited,14 Day Unlimited,...,AirTrain 30 Day Unlimited,AirTrain 10-Trip,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited
count,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,...,24867.000000,24867.000000,24867.000000,2813.000000,2813.000000,2813.000000,2813.000000,2813.000000,2813.000000,2813.000000
mean,10924.697229,802.292275,79.824587,172.257812,10.645997,4522.931958,4847.224595,0.336028,1.156955,0.049423,...,37.010415,9.159770,0.753046,167.334874,0.031994,0.035549,0.001066,524.349449,190.677568,195.358692
std,15804.202552,1234.930125,122.588040,323.279608,67.859305,6990.052602,9990.414993,5.789347,13.571839,0.780252,...,673.304541,228.806543,19.852248,166.381093,0.291609,0.264310,0.032645,452.028657,187.378003,194.726786
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3256.500000,196.000000,17.000000,32.000000,0.000000,974.000000,741.500000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,59.000000,0.000000,0.000000,0.000000,239.000000,68.000000,69.000000
50%,6343.000000,419.000000,40.000000,76.000000,0.000000,2247.000000,1761.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,120.000000,0.000000,0.000000,0.000000,400.000000,132.000000,138.000000
75%,12058.500000,888.000000,92.000000,177.000000,4.000000,5063.000000,4352.500000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,216.000000,0.000000,0.000000,0.000000,679.000000,252.000000,257.000000
max,232705.000000,15887.000000,1687.000000,5966.000000,1945.000000,97365.000000,177280.000000,457.000000,568.000000,55.000000,...,27988.000000,10253.000000,910.000000,1400.000000,6.000000,5.000000,1.000000,3412.000000,1427.000000,1507.000000

In [5]:
df.isna().sum()

From Date                                                      0
To Date                                                        0
Remote Station ID                                              0
Station                                                        0
Full Fare                                                      0
Senior Citizen/Disabled                                        0
7 Day ADA Farecard Access System Unlimited                     0
30 Day ADA Farecard Access/Reduced Fare Media Unlimited        0
Joint Rail Road Ticket                                         0
7 Day Unlimited                                                0
30 Day Unlimited                                               0
14 Day Reduced Fare Media Unlimited                            0
1 Day Unlimited                                                0
14 Day Unlimited                                               0
7 Day Express Bus Pass                                         0
TransitCheck                                                   0
Long Island Bus Special Senior                                 0
Reduced Fare 2-Trip                                            0
Rail Road Unlimited No Trade                                   0
TransitCheck Annual                                            0
Mail and Ride EasyPay Express                                  0
Mail and Ride EasyPay Unlimited                                0
PATH 2-Trip                                                    0
AirTrain Full Fare                                             0
AirTrain 30 Day Unlimited                                      0
AirTrain 10-Trip                                               0
AirTrain Monthly                                               0
Student                                                    22054
NICE 2-Trip                                                22054
CUNY 120 Day                                               22054
CUNY 60 Day                                                22054
Fair Fares Pay-Per-Ride                                    22054
Fair Fares 7 Day Unlimited                                 22054
Fair Fares 30 Day Unlimited                                22054
dtype: int64

In [6]:
df = df.fillna(0)

In [7]:
df.dtypes

From Date                                                   object
To Date                                                     object
Remote Station ID                                           object
Station                                                     object
Full Fare                                                    int64
Senior Citizen/Disabled                                      int64
7 Day ADA Farecard Access System Unlimited                   int64
30 Day ADA Farecard Access/Reduced Fare Media Unlimited      int64
Joint Rail Road Ticket                                       int64
7 Day Unlimited                                              int64
30 Day Unlimited                                             int64
14 Day Reduced Fare Media Unlimited                          int64
1 Day Unlimited                                              int64
14 Day Unlimited                                             int64
7 Day Express Bus Pass                                       int64
TransitCheck                                                 int64
Long Island Bus Special Senior                               int64
Reduced Fare 2-Trip                                          int64
Rail Road Unlimited No Trade                                 int64
TransitCheck Annual                                          int64
Mail and Ride EasyPay Express                                int64
Mail and Ride EasyPay Unlimited                              int64
PATH 2-Trip                                                  int64
AirTrain Full Fare                                           int64
AirTrain 30 Day Unlimited                                    int64
AirTrain 10-Trip                                             int64
AirTrain Monthly                                             int64
Student                                                    float64
NICE 2-Trip                                                float64
CUNY 120 Day                                               float64
CUNY 60 Day                                                float64
Fair Fares Pay-Per-Ride                                    float64
Fair Fares 7 Day Unlimited                                 float64
Fair Fares 30 Day Unlimited                                float64
dtype: object

In [8]:
df['From Date'] = pd.to_datetime(df['From Date'], format='%m/%d/%Y')
df['To Date'] = pd.to_datetime(df['To Date'], format='%m/%d/%Y')

In [9]:
df['Total Fares for the Week'] = df.iloc[:, 4:].sum(axis=1)

In [10]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain 10-Trip,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited,Total Fares for the Week
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,0,0,327.0,0.0,0.0,0.0,695.0,253.0,242.0,52469.0
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,0,0,70.0,0.0,0.0,0.0,105.0,39.0,37.0,3029.0
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,0,0,301.0,0.0,0.0,0.0,205.0,87.0,53.0,8455.0
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,0,0,111.0,0.0,0.0,0.0,265.0,60.0,131.0,8678.0
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,0,0,148.0,0.0,0.0,0.0,255.0,95.0,99.0,9821.0

In [11]:
df_holiday = pd.read_csv('US Holiday Dates (2004-2021).csv')

In [12]:
df_holiday.head()

         Date      Holiday    WeekDay  Month  Day  Year
0  2004-07-04  4th of July     Sunday      7    4  2004
1  2005-07-04  4th of July     Monday      7    4  2005
2  2006-07-04  4th of July    Tuesday      7    4  2006
3  2007-07-04  4th of July  Wednesday      7    4  2007
4  2008-07-04  4th of July     Friday      7    4  2008

In [13]:
df_holiday['Date'] = pd.to_datetime(df_holiday['Date'], format='%Y-%m-%d')

In [14]:
def contains_holiday(start_date, end_date, holidays):
    mask = (holidays >= start_date) & (holidays <= end_date)
    holiday_count = mask.sum()
    
    if holiday_count > 0:
        return "Yes"
    else:
        return "No"

In [15]:
df['Contains Holiday'] = df.apply(lambda row: contains_holiday(row['From Date'], row['To Date'], df_holiday['Date']), axis=1)

In [16]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited,Total Fares for the Week,Contains Holiday
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,0,327.0,0.0,0.0,0.0,695.0,253.0,242.0,52469.0,No
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,0,70.0,0.0,0.0,0.0,105.0,39.0,37.0,3029.0,No
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,0,301.0,0.0,0.0,0.0,205.0,87.0,53.0,8455.0,No
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,0,111.0,0.0,0.0,0.0,265.0,60.0,131.0,8678.0,No
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,0,148.0,0.0,0.0,0.0,255.0,95.0,99.0,9821.0,No

In [17]:
df[df['Contains Holiday'] == 'Yes']

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited,Total Fares for the Week,Contains Holiday
1875,2021-07-03,2021-07-09,R001,WHITEHALL STREET,26988,1540,228,354,8,11936,...,0,127.0,0.0,0.0,0.0,590.0,275.0,201.0,49810.0,Yes
1876,2021-07-03,2021-07-09,R003,CYPRESS HILLS,1516,122,8,14,0,1020,...,0,28.0,0.0,0.0,0.0,112.0,43.0,60.0,3463.0,Yes
1877,2021-07-03,2021-07-09,R004,75TH STREET & ELDERTS LANE,4547,360,18,60,0,2335,...,0,136.0,0.0,0.0,0.0,235.0,114.0,64.0,9153.0,Yes
1878,2021-07-03,2021-07-09,R005,85TH STREET & FOREST PKWAY,4744,415,34,42,0,2332,...,0,48.0,0.0,0.0,0.0,300.0,67.0,135.0,9553.0,Yes
1879,2021-07-03,2021-07-09,R006,WOODHAVEN BOULEVARD,4564,362,49,63,0,3485,...,0,48.0,0.0,0.0,0.0,262.0,128.0,116.0,11057.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23908,2020-01-18,2020-01-24,R551,PA-PATH GROVE ST,38282,0,0,0,15,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40301.0,Yes
23909,2020-01-18,2020-01-24,R552,PA-PATH JOURNAL SQUARE,45930,0,0,0,8,0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49250.0,Yes
23910,2020-01-18,2020-01-24,R570,72ND STREET - 2 AVENUE,74685,7563,352,1075,111,18515,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168616.0,Yes
23911,2020-01-18,2020-01-24,R571,86TH STREET - 2 AVENUE,56311,6095,300,911,51,18192,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145983.0,Yes
23912,2020-01-18,2020-01-24,R572,96TH STREET - 2 AVENUE,34642,3579,283,1330,27,15504,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97943.0,Yes

In [18]:
df_gas_price = pd.read_csv('Gasoline_Prices.csv')

In [19]:
df_gas_price.describe()

       New York State Average ($/gal)
count                      270.000000
mean                         3.192556
std                          0.689442
min                          2.160000
25%                          2.680000
50%                          3.215000
75%                          3.667500
max                          5.030000

In [20]:
df_gas_price['Date'] = pd.to_datetime(df_gas_price['Date'], format='%m/%d/%Y')

In [21]:
def get_gas_price(start_date, end_date, gas_prices):
    mask = (gas_prices['Date'] >= start_date) & (gas_prices['Date'] <= end_date)
    
    if mask.any():
        return gas_prices.loc[mask, 'New York State Average ($/gal)'].iloc[0]
    else:
        return None

In [22]:
df['Gas Price'] = df.apply(lambda row: get_gas_price(row['From Date'], row['To Date'], df_gas_price), axis=1)

In [23]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited,Total Fares for the Week,Contains Holiday,Gas Price
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,327.0,0.0,0.0,0.0,695.0,253.0,242.0,52469.0,No,3.21
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,70.0,0.0,0.0,0.0,105.0,39.0,37.0,3029.0,No,3.21
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,301.0,0.0,0.0,0.0,205.0,87.0,53.0,8455.0,No,3.21
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,111.0,0.0,0.0,0.0,265.0,60.0,131.0,8678.0,No,3.21
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,148.0,0.0,0.0,0.0,255.0,95.0,99.0,9821.0,No,3.21

In [24]:
columns_to_remove = ['Full Fare', 'Senior Citizen/Disabled', '7 Day ADA Farecard Access System Unlimited',
                     '30 Day ADA Farecard Access/Reduced Fare Media Unlimited', 'Joint Rail Road Ticket',
                     '7 Day Unlimited', '30 Day Unlimited', '14 Day Reduced Fare Media Unlimited', '1 Day Unlimited',
                     '14 Day Unlimited', '7 Day Express Bus Pass', 'TransitCheck', 'Long Island Bus Special Senior',
                     'Reduced Fare 2-Trip', 'Rail Road Unlimited No Trade', 'TransitCheck Annual',
                     'Mail and Ride EasyPay Express', 'Mail and Ride EasyPay Unlimited', 'PATH 2-Trip',
                     'AirTrain Full Fare', 'AirTrain 30 Day Unlimited', 'AirTrain 10-Trip', 'AirTrain Monthly',
                     'Student', 'NICE 2-Trip', 'CUNY 120 Day', 'CUNY 60 Day', 'Fair Fares Pay-Per-Ride',
                     'Fair Fares 7 Day Unlimited', 'Fair Fares 30 Day Unlimited']

df_final = df.drop(columns=columns_to_remove)

In [25]:
df_final.head()

,From Date,To Date,Remote Station ID,Station,Total Fares for the Week,Contains Holiday,Gas Price
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,52469.0,No,3.21
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,3029.0,No,3.21
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,8455.0,No,3.21
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,8678.0,No,3.21
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,9821.0,No,3.21

In [26]:
df_final.isna().sum()

From Date                     0
To Date                       0
Remote Station ID             0
Station                       0
Total Fares for the Week      0
Contains Holiday              0
Gas Price                   485
dtype: int64

In [27]:
missing_gas_price_rows = df_final[df_final['Gas Price'].isna()]

missing_gas_price_rows

,From Date,To Date,Remote Station ID,Station,Total Fares for the Week,Contains Holiday,Gas Price
3783,2020-11-06,2020-10-31,R001,WHITEHALL STREET,26687.0,No,NaN
3784,2020-11-06,2020-10-31,R003,CYPRESS HILLS,3729.0,No,NaN
3785,2020-11-06,2020-10-31,R004,75TH STREET & ELDERTS LANE,9514.0,No,NaN
3786,2020-11-06,2020-10-31,R005,85TH STREET & FOREST PKWAY,9523.0,No,NaN
3787,2020-11-06,2020-10-31,R006,WOODHAVEN BOULEVARD,10925.0,No,NaN
...,...,...,...,...,...,...,...
4263,2020-11-06,2020-10-31,R571,86TH STREET - 2 AVENUE,39555.0,No,NaN
4264,2020-11-06,2020-10-31,R572,96TH STREET - 2 AVENUE,31253.0,No,NaN
4265,2020-11-06,2020-10-31,R573,SBS-Q52/53 @ LIVINGSTON PLAZA,0.0,No,NaN
4266,2020-11-06,2020-10-31,R574,SBS-B82 @ LIVINGSTON PLAZA,0.0,No,NaN
4267,2020-11-06,2020-10-31,R575,SBS-M14 @ LIVINGSTON PLAZA,0.0,No,NaN

In [28]:
average_gas_price = df_gas_price['New York State Average ($/gal)'].mean()

average_gas_price_rounded = round(average_gas_price, 2)

In [29]:
#df_final['Gas Price'] = df_final['Gas Price'].fillna(average_gas_price_rounded)

In [30]:
df_final['Gas Price'] = df_final['Gas Price'].fillna(method='bfill')

In [31]:
df_final.isna().sum()

From Date                   0
To Date                     0
Remote Station ID           0
Station                     0
Total Fares for the Week    0
Contains Holiday            0
Gas Price                   0
dtype: int64

In [32]:
df_final.to_csv('final_dataframe_MTA_congestion.csv')

In [33]:
df_final.columns

Index(['From Date', 'To Date', 'Remote Station ID', 'Station',
       'Total Fares for the Week', 'Contains Holiday', 'Gas Price'],
      dtype='object')

In [34]:
weather_data_df = pd.read_csv('weather_data.csv')

In [35]:
weather_data_df.head()

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TAVG,TMAX,...,TSUN,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
0,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",2020-02-27,NaN,NaN,0.69,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",2020-02-28,NaN,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",2020-02-29,NaN,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",2020-03-01,NaN,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",2020-03-02,NaN,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
weather_data_df.columns

Index(['STATION', 'NAME', 'DATE', 'DAPR', 'MDPR', 'PRCP', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'TOBS', 'TSUN', 'WT01', 'WT02', 'WT03', 'WT04',
       'WT05', 'WT06', 'WT08', 'WT09', 'WT11'],
      dtype='object')

In [37]:
weather_df_final = weather_data_df[['DATE', 'SNOW', 'PRCP']]

In [38]:
weather_df_final.isna().sum()

DATE       0
SNOW    4680
PRCP     231
dtype: int64

In [39]:
weather_df_final.loc[:, 'SNOW'] = weather_df_final['SNOW'].fillna(0)
weather_df_final.loc[:, 'PRCP'] = weather_df_final['PRCP'].fillna(0)

In [47]:
weather_df_final.loc[:, 'DATE'] = pd.to_datetime(weather_df_final['DATE']).dt.normalize()

In [49]:
weather_df_final.dtypes

DATE    datetime64[ns]
SNOW           float64
PRCP           float64
dtype: object

In [51]:
#weather_df_final.loc[:, 'Week Range'] = weather_df_final['DATE'].dt.to_period('W').apply(lambda r: r.start_time.strftime('%Y-%m-%d') + ' - ' + r.end_time.strftime('%Y-%m-%d'))

In [52]:
#weather_df_final = weather_df_final.iloc[:-1]

In [50]:
weather_df_final

            DATE  SNOW  PRCP
0     2020-02-27   0.0  0.69
1     2020-02-28   0.0  0.00
2     2020-02-29   0.0  0.00
3     2020-03-01   0.0  0.00
4     2020-03-02   0.0  0.00
...          ...   ...   ...
13781 2021-12-27   0.0  0.00
13782 2021-12-28   0.0  0.12
13783 2021-12-29   0.0  0.09
13784 2021-12-30   0.0  0.04
13785 2021-12-31   0.0  0.05

[13786 rows x 3 columns]

In [69]:
#weather_summary = weather_df_final.groupby('Week Range').agg({'SNOW': 'sum', 'PRCP': 'sum'}).reset_index()

In [71]:
#weather_summary.columns = ['Week Range', 'Total Snowfall', 'Total Rainfall']

In [51]:
df_final['Total Snowfall'] = 0
df_final['Total Rainfall'] = 0

In [53]:
for index, row in df_final.iterrows():
    from_date = row['From Date']
    to_date = row['To Date']
    
    matching_rows = weather_df_final[(weather_df_final['DATE'] >= from_date) & (weather_df_final['DATE'] <= to_date)]
    
    if not matching_rows.empty:
        total_snowfall = matching_rows['SNOW'].sum()
        total_rainfall = matching_rows['PRCP'].sum()
        
        df_final.at[index, 'Total Snowfall'] = total_snowfall
        df_final.at[index, 'Total Rainfall'] = total_rainfall

In [54]:
df_final

,From Date,To Date,Remote Station ID,Station,Total Fares for the Week,Contains Holiday,Gas Price,Total Snowfall,Total Rainfall
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,52469.0,No,3.21,0.0,2.83
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,3029.0,No,3.21,0.0,2.83
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,8455.0,No,3.21,0.0,2.83
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,8678.0,No,3.21,0.0,2.83
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,9821.0,No,3.21,0.0,2.83
...,...,...,...,...,...,...,...,...,...
24862,2020-01-04,2020-01-10,R571,86TH STREET - 2 AVENUE,152639.0,No,2.72,6.6,5.75
24863,2020-01-04,2020-01-10,R572,96TH STREET - 2 AVENUE,102697.0,No,2.72,6.6,5.75
24864,2020-01-04,2020-01-10,R573,SBS-Q52/53 @ LIVINGSTON PLAZA,0.0,No,2.72,6.6,5.75
24865,2020-01-04,2020-01-10,R574,SBS-B82 @ LIVINGSTON PLAZA,0.0,No,2.72,6.6,5.75
24866,2020-01-04,2020-01-10,R575,SBS-M14 @ LIVINGSTON PLAZA,0.0,No,2.72,6.6,5.75